body {
  font-family: "Arial", sans-serif;
  height: 100vh;
  overflow-y: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* color: #595757; */
}
html {
  scroll-behavior: smooth;
}
